In [39]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import linear_model
from sklearn.model_selection import cross_validate

In [40]:
boston = pd.read_csv("kc_house_data.csv")
print(boston.shape)
boston.head()

(21613, 21)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [41]:
boston.isnull().sum()

id               0
date             0
price            0
bedrooms         4
bathrooms        0
sqft_living      0
sqft_lot         0
floors           1
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [42]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21609 non-null  float64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21612 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

In [43]:
boston['bedrooms']=boston['bedrooms'].fillna(boston['bedrooms'].mode()[0])

In [44]:
boston.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           1
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [45]:
boston['floors']=boston['floors'].fillna(boston['floors'].mode()[0])

In [46]:
boston.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [47]:
boston.shape

(21613, 21)

In [48]:

boston.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [83]:
x = np.array(boston.iloc[:, 3:])
y = np.array(boston[['price']])

In [84]:
XT=x.T
XTX=XT@x
pinv=np.linalg.pinv(XTX)
theta_pinv=pinv@x.T@y
print(theta_pinv)

[[-3.55251628e+04]
 [ 4.10610623e+04]
 [ 1.10272314e+02]
 [ 1.33374960e-01]
 [ 5.26327373e+03]
 [ 5.83291124e+05]
 [ 5.23539742e+04]
 [ 2.72141703e+04]
 [ 9.54810912e+04]
 [ 7.13875792e+01]
 [ 3.88691927e+01]
 [-2.56189493e+03]
 [ 2.04175227e+01]
 [-5.19044929e+02]
 [ 6.02196687e+05]
 [-2.17874421e+05]
 [ 2.30988527e+01]
 [-3.76138815e-01]]

In [85]:
y_pred = x@theta_pinv
print(y_pred)

[[214161.17795765]
 [736056.79601727]
 [376781.47461918]
 ...
 [147582.58603982]
 [381530.96058015]
 [150171.76744944]]

In [86]:
y_mean = np.mean(y)
r_sq = ((y_pred - y_mean).T@(y_pred - y_mean))/((y-y_mean).T@(y-y_mean))
print(r_sq[0][0])

0.6996898082810464

In [87]:
mse = (y_pred-y).T@(y_pred-y)/(y.shape[0])
print(mse)

[[4.04762249e+10]]

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [50]:
limodel = LinearRegression()
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [51]:
limodel.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [52]:
predictions = limodel.predict(X_test)

In [55]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
score = r2_score(y_test,predictions)
print(score)

0.6949643926182736

In [57]:
mean_sqerr = mean_squared_error(y_test,predictions)
print(mean_sqerr)

36276136717.33122