In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('C:/Users/Gray/Desktop/dataset/kc_house_data.csv')
#dataset.head(10)

In [ ]:
#X = dataset.iloc[:, [5,6,12,13,19,20]]
#X = dataset.iloc[:, [3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 19, 20]]
X = dataset.iloc[:, 3:]
Y = dataset.iloc[:, [2]]

In [4]:
# Normalisation

meu = np.mean(X)
std = np.std(X)

X = (X-meu)/std

In [8]:
X_train = X.iloc[:17290, :]
X_test = X.iloc[17289:, :]

In [9]:
Y_train = Y.iloc[:17290, :]
Y_test = Y.iloc[17289:, :]

In [10]:
def biasing_X(X):
    N = X.shape
    arr = np.ones((N[0], 1))
    X = np.hstack((arr, X))
    w = np.zeros((N[1]+1, 1))
    return X, w

In [11]:
X_bias, theta = biasing_X(X_train)

In [12]:

X_bias = np.array(X_bias)
X_bias = X_bias.T
print(X_bias.shape)

(19, 17290)

In [13]:
theta = np.array(theta)
theta.shape

(19, 1)

In [14]:
def hypo(X, W):
    return np.dot(X.T, W)

In [15]:
def cost(X, Y, W):
    m = X.shape[1]
    #print(m)
    n = X.shape[0]
    sum = 0
    Temp = hypo(X, W) - Y
    J = (np.sum(Temp**2))/(2*m)
    #print(J)
    return J

In [16]:
def gradient_descent(X, W, Y, Alpha, Step):
    N = X.shape[1]
    print(N)
    J = []
    initial = cost(X, Y, W)
    J.append(initial)
    #np.dot(x.T, (y_hat-y)))
    print(J)
    for i in range(Step):
        Te = hypo(X, W)
        Te = Te - Y
        K = X@Te
        print(i)
        #print(K.shape)
        #print(K.T)
        W = W - (Alpha/N)*K
        Temp = cost(X, Y, W)
        J.append(Temp)
        
    return J, W

In [ ]:
J, W = gradient_descent(X_bias, theta, Y_train, 0.009, 1000)

In [ ]:
print(W) # value from Gradient Descent

In [19]:
theta1 = np.linalg.pinv(X_bias@X_bias.T)@(X_bias@Y_train)
theta1 #value from formula

            price
0   533876.474896
1   -31591.526808
2    31538.496486
3    81144.233855
4     6214.680128
5     -462.772420
6    51436.855781
7    39949.131332
8    17792.884663
9   106534.014813
10   77037.739989
11   24248.826693
12  -85859.517055
13    8275.271524
14  -31549.672761
15   80681.825218
16  -26949.887568
17   24770.612791
18  -12048.277551

In [20]:
def prediction(W1):
    X_b1, _ = biasing_X(X_test)
    Y_pred = X_b1@W1
    return Y_pred

In [21]:
y_bar = np.mean(Y_test)
y_bar

price    567628.54926
dtype: float64

In [22]:
def error(Y_pp):
    R_error = ((Y_pp - y_bar).T@(Y_pp - y_bar)) /((Y_test - y_bar).T@(Y_test- y_bar))
    return R_error

In [23]:
Y_pred1 = prediction(W)
error(Y_pred1) # predicted by descent

          price
price  0.679832

In [24]:

Y_pred = prediction(theta1)
error(Y_pred) # predicted by formula

          price
price  0.684594

In [27]:
Y_pred = np.array(Y_pred)
Y_pred1 = np.array(Y_pred1)
mse = (np.sum(Y_pred - Y_test)**2)/(Y_test.shape[0])
mse1 = (np.sum(Y_pred1 - Y_test)**2)/(Y_test.shape[0])

In [28]:
np.sqrt(mse)

price    2.048632e+06
dtype: float64

In [29]:
np.sqrt(mse1)

price    2.023425e+06
dtype: float64