<a href="https://colab.research.google.com/github/arjunparmar/IPL-2020/blob/Atul/KNN_%2C_XBG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
from sklearn.datasets import load_iris
import numpy as np
from sklearn.model_selection import train_test_split
iris = load_iris()
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import math
import glob
import cv2
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [31]:
print(iris.data.shape)
print(iris.feature_names) #number of features
print(iris.target_names) #number of classes

(150, 4)
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']

In [32]:
#Spliting_Dataset
X_train,X_test,Y_train,Y_test  =  train_test_split(iris.data, iris.target, test_size =0.2,random_state =4 )
print(X_train.shape)
print(X_test.shape)

print(Y_train)

print(Y_train.shape)
print(Y_test.shape)

(120, 4)
(30, 4)
[1 0 2 0 1 2 2 1 1 0 2 0 1 0 2 0 0 1 1 2 0 1 2 2 1 1 0 1 2 1 0 1 0 1 2 1 2
 1 0 2 2 0 1 2 0 2 1 2 1 0 2 1 2 0 2 1 2 1 2 1 1 2 1 1 2 1 1 0 2 0 1 0 1 1
 1 1 0 2 2 1 1 1 0 0 2 2 0 0 0 2 0 0 2 2 1 0 0 0 2 1 0 0 2 1 2 0 0 2 1 1 1
 2 2 1 2 1 1 2 2 2]
(120,)
(30,)

In [33]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [34]:
K_range = range(1,12)
scores = {}
scores_list = []
for k in K_range:
  knn = KNeighborsClassifier(n_neighbors=k)
  knn.fit(X_train,Y_train)
  Y_predict = knn.predict(X_test)
  
  scores[k] = metrics.accuracy_score(Y_test,Y_predict)
  print(scores[k])
  scores_list.append(metrics.accuracy_score(Y_test,Y_predict))

0.9333333333333333
0.9333333333333333
0.9666666666666667
0.9666666666666667
0.9666666666666667
0.9666666666666667
0.9666666666666667
0.9666666666666667
0.9666666666666667
0.9666666666666667
0.9666666666666667

In [ ]:
#For_XG_Boosting

In [35]:
from google.colab import files
uploaded=files.upload()

Saving Social_Network_Ads.csv to Social_Network_Ads.csv

In [36]:
data = pd.read_csv("Social_Network_Ads.csv")
display(data.tail())

print(len(data))
#shuffling_data
p = np.random.permutation(len(data))
#print(p)
data = data.loc[p]

train_data = data[: (int((len(data))*0.75))]

test_data = data[(int((len(data))*0.75)) :]

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

400

In [37]:
X_train = np.array(train_data.drop(["Purchased","User ID"] , axis = 1).copy()).T
Y_train = np.array([train_data['Purchased'].copy()])

X_test = np.array(test_data.drop(["Purchased","User ID"] , axis = 1).copy()).T
Y_test = np.array([test_data['Purchased'].copy()])

print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(3, 300)
(1, 300)
(3, 100)
(1, 100)

In [38]:
#changing Male and female into binary
temp1 = np.int64(X_train[0,:] == 'Male')
X_train[0,:] = np.copy(temp1)

temp2 = np.int64(X_test[0,:] == 'Male')
X_test[0,:] = np.copy(temp2)

#print(X_train)
#print(X_test)

In [39]:
X_train = np.copy(X_train).astype(float)
X_test  = np.copy(X_test).astype(float)
#data_preprocessing
mean = np.array([np.mean(X_train , axis = 1)]).T  #normalizing the training set
max = np.array([np.max(X_train , axis = 1)]).T
min = np.array([np.min(X_train , axis=1)]).T
X_train = ((X_train - mean) / (max - min))

print(X_train.shape)
print(Y_train.shape)

mean = np.array([np.mean(X_test , axis = 1)]).T  #normalizing the test set
max = np.array([np.max(X_test , axis = 1)]).T
min = np.array([np.min(X_test , axis=1)]).T
X_test = ((X_test - mean) / (max - min))

print(X_test.shape)
print(Y_test.shape)

(3, 300)
(1, 300)
(3, 100)
(1, 100)

In [49]:
model = XGBClassifier()
model.fit(X_train.T, Y_train.T.ravel())
# make predictions for test data
Y_predict = model.predict(X_test.T)
Y_predict = np.array([Y_predict])
print(Y_predict.shape)

(1, 100)

In [50]:
#Test_Acuracy
misclassified = np.sum(np.abs(Y_predict[0,:] - Y_test[0,:]))
Acuracy = (100 - (misclassified/X_test.shape[1])*100)
print(Acuracy)

92.0